@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
* {
  font-family: 'Baloo Tammudu 2', cursive; }

.navegador {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .navegador h1 {
    color: #1B3A62;
    margin-top: 20px; }
  .navegador .nav-link {
    font-size: 20px; }
    .navegador .nav-link .nav-link:hover {
      color: #1B3A62; }

.home {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center; }
  .home .homeDescripcion {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .home .homeDescripcion .tituloNombre {
      z-index: 2;
      font-size: 60px;
      color: #D52023; }
    .home .homeDescripcion .tituloDesarrollo {
      z-index: 2;
      font-size: 40px;
      color: #A61D22; }
    .home .homeDescripcion .burbuja {
      width: 500px;
      height: auto;
      position: absolute;
      z-index: 1; }
    .home .homeDescripcion .HomeCv {
      z-index: 2; }
      .home .homeDescripcion .HomeCv a {
        text-decoration: none;
        color: #FDFEFE; }
  .home .homeImg img {
    width: 600px;
    height: auto; }

.aboutMe h2 {
  color: #1B3A62;
  font-size: 60px; }

.aboutMe .aboutMeDescripcion {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(149, 203, 241, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .aboutMe .aboutMeDescripcion .aboutMeDescripcionImg {
    padding: 25px; }
    .aboutMe .aboutMeDescripcion .aboutMeDescripcionImg img {
      width: 200px;
      height: auto; }
  .aboutMe .aboutMeDescripcion .aboutMeDescripcionTexto {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    font-size: 18px; }
    .aboutMe .aboutMeDescripcion .aboutMeDescripcionTexto p {
      display: flex;
      text-align: center; }
  .aboutMe .aboutMeDescripcion .aboutMeDescripcionRedes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px; }
    .aboutMe .aboutMeDescripcion .aboutMeDescripcionRedes img {
      width: 30px;
      height: auto; }

.skills h2 {
  color: #1B3A62;
  font-size: 60px; }

.skills .skillsDescripcion {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  .skills .skillsDescripcion .skillsDescripcionImg img {
    width: 500px;
    height: auto; }
  .skills .skillsDescripcion .skillsDescripcionAll {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center; }
    .skills .skillsDescripcion .skillsDescripcionAll .skillsDescripcion {
      margin-top: 50px;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      align-items: center; }
      .skills .skillsDescripcion .skillsDescripcionAll .skillsDescripcion .skillsDescripcionicon {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-left: 20px; }
        .skills .skillsDescripcion .skillsDescripcionAll .skillsDescripcion .skillsDescripcionicon img {
          width: 90px;
          height: auto; }
        .skills .skillsDescripcion .skillsDescripcionAll .skillsDescripcion .skillsDescripcionicon .icon:hover {
          width: 120px;
          height: auto; }

.sectionDescription {
  margin-top: 100px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly; }

.projectDescripcion {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly; }
  .projectDescripcion .projectExampleImg img {
    width: 300px;
    height: auto; }
  .projectDescripcion .projectExampleImg:hover > .projectExampleTexto {
    display: flex;
    background-color: black; }
  .projectDescripcion .projectExampleTexto {
    display: none; }
