@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
* {
  font-family: 'Baloo Tammudu 2', cursive; }

.homePrimeroPresentacion {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 50vw;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .homePrimeroPresentacion h1 {
    display: flex;
    margin-top: 20px; }

.homePrimeroPresentacionPerfil img {
  width: 15vw;
  height: auto; }

body .home {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll; }
  body .home section {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; }
    body .home section:nth-of-type(1) {
      background-image: url("../img/fondoDibu.jpg"); }
    body .home section:nth-of-type(2) {
      background-color: #1dd34a; }
    body .home section:nth-of-type(3) {
      background-color: #c8c6c6; }

.homeSegundoPresentacion {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center; }
  .homeSegundoPresentacion .cajaSkills {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 250px;
    width: 250px;
    background-color: #6d7ccc;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; }
    .homeSegundoPresentacion .cajaSkills .cajaSkillsImg {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center; }
      .homeSegundoPresentacion .cajaSkills .cajaSkillsImg img {
        width: 200px;
        height: auto; }
    .homeSegundoPresentacion .cajaSkills .cajaSkillsImg:hover img {
      width: 100px;
      height: auto; }
