@import "tipografia" ;

$Rojo: #D52023;
$Bordo: #A61D22;
$Blanco: #FDFEFE;
$Azul: #1B3A62;
$Celeste: #95CBF1;
$Titulo: 60px;
$SubTitulo: 40px;

*{
    font-family:'Baloo Tammudu 2', cursive;
    scroll-behavior: smooth;
}


.navegador{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    h1{
        color: $Azul;
        margin-top:20px;
    }
    .nav-link{
        font-size: 20px;
        .nav-link:hover{
            color: $Azul;
        }
    }
}
.home{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    .homeDescripcion{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        .tituloNombre{
            z-index: 2;
            font-size: $Titulo;
            color: $Rojo ;
        }
        .tituloDesarrollo{
            z-index: 2;
            font-size: $SubTitulo;
            color: $Bordo;
        }
        .burbuja{
            width: 500px;
            height: auto;
            position: absolute;
            z-index: 1;
        }
        .HomeCv{
            a{
                font-size: 25px;
                text-decoration: none;
                color:$Blanco;
            }
            
            z-index: 2;
        }
    }
    .homeImg{
        img{
            width: 600px;
            height: auto;
        }
    }
}

.aboutMe{
    .aboutMeDescripcion{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: rgba( 149, 203, 241, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 1.5px );
        -webkit-backdrop-filter: blur( 1.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        .aboutMeDescripcionImg{
            padding: 25px;
            img{
                width: 200px;
                height: auto;
            }
        }
        .aboutMeDescripcionTexto{
            width: 50%;
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            font-size: 18px;
            p{
                display: flex;
                text-align: center;
            }
        }
        .aboutMeDescripcionRedes{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;

            img{
                width: 30px;
                height: auto;
            }
        }
    }
}
.skills{
    .skillsDescripcion{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        .skillsDescripcionImg{
            img{
                width: 500px;
                height: auto;
            }
        }
        .skillsDescripcionAll{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: center;
            .skillsDescripcion{
                margin-top: 50px;
                display:flex;
                flex-flow: column wrap;
                justify-content: space-evenly;
                align-items: center;
                .skillsDescripcionicon{
                    margin-top: 20px;
                    width: 100%;
                    display:flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    img{
                        width: 90px;
                        height: auto;
                    }
                }
            }
        }
    }
}

.sectionDescription{
    margin-top:100px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    h2{
        color:$Azul;
        font-size: $Titulo;
    }
}

.projectDescripcion{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    .figure{
        margin-top: 20px;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0px 8px 25px rgba(0,0,0,0.50);
        cursor:pointer;
        width: 300px;
        height: 250px;
        background-color: $Celeste;
        img{
            margin: auto;
            width: 300px;
            height: auto;
        }
        .capa{
            position: absolute;
            top:0;
            width: 100%;
            height: 100%;
            background-color: rgba(6, 40, 80, 0.7);
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;
        }
    }
}
.figure:hover> .capa{
    opacity: 1;
    visibility: visible;
    }
.figure:hover> .capa h4{
    margin-top: 20px;
    margin-bottom: 10px;
}
.capa h4{
    font-size: 25px;
    color: $Blanco;
    transition: all 500ms ease-out;
    margin-top: 8px;
}
.capa p{
    font-size: 20px;
    color: $Blanco;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.botonesCapa .btnc{
    color: $Blanco;
    padding-top: 12px;
    border: 1px solid $Blanco;
}
.contact{
    width: 100%;
    .contactDescripcion{
        margin-top: 20px;
        margin-bottom:  20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        .contactDescripcionIcon{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: center;
            width: 50%;
        .contactDescripcionIconText{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $Azul;
            p{
                font-size: 20px;
                margin-top: 10px;
            }
        }
            img{
                width: 50px;
                height: auto;
            }
        }
    }
}


@media (max-width:1000px){
    .home{
        display: flex;
        flex-direction: row wrap;
        justify-content: space-between;
        align-items: center;
        .homeDescripcion{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            .tituloNombre{
                z-index: 2;
                font-size: 35px;
                color: $Rojo ;
            }
            .tituloDesarrollo{
                z-index: 2;
                font-size: 15px;
                color: $Bordo;
            }
            .burbuja{
                width: 200px;
                height: auto;
                position: absolute;
                z-index: 1;
            }
            .HomeCv{
                a{
                    text-decoration: none;
                    color:$Blanco;
                }
                
                z-index: 2;
            }
        }
        .homeImg{
            img{
                width: 300px;
                height: auto;
            }
        }
    }
    .skillsDescripcionImg{
        img{
            width: 300px;
            height: auto;
        }
    }
}