@import "tipografia" ;
*{
    // font-family: 'Josefin Slab', serif;
    font-family:'Baloo Tammudu 2', cursive;
}


.homePrimeroPresentacion{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 50vw;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    h1{
        display: flex;
        margin-top: 20px;
    }
}
.homePrimeroPresentacionPerfil {
    img{
        width:15vw;
        height: auto;
    }
}
body {
    .home{
        height: 100vh;
        width: 100vw;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        section {
            height: 100vh;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            scroll-snap-align: start;
            &:nth-of-type(1){
                background-image: url("../img/fondoDibu.jpg");
            }
            &:nth-of-type(2){
                background-color: rgb(21, 43, 61);
            }
            &:nth-of-type(3){
                background-color: rgb(60, 150, 224);
            }
            &:nth-of-type(4){
                background-color: rgb(200, 198, 198);
            }
        }
    }
}
.homeSegundoPresentacion{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: white;
}
.homeTerceroPresentacion{
    display: flex;
    flex-flow: column wrap;

    .caja{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .cajaSkills{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            .cajaSkillsImg{
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                img {
                    width: 100px;
                    height: auto;
                }
            }
            .cajaSkillsImg:hover{
                img {
                    width: 80px;
                    height: auto;
                }
            }
        }
    }
}

.homeCuartoPresentacion{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 50%;
    .cajaContacto{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .contacto{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            .contactoRed{
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                align-items: flex-start;
                .contactoRedIcono{
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 5px;
                    img{
                        width: 50px;
                        height: auto;
                    }
                }
                .contactoRedPlataforma{
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    
                }
                .contactoRedUsuario{
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }
        }
    }
}